<p>You logged as <%= current_developer.login %></p>
<div class="alert">Editing games is limited. You can only download new SWF files. Editing other parameters of the game will be available soon</div>
<% current_developer.games.order(:id).each do |game| %>
        <div class="well span10">
            <div class="span2">
                <img src="<%= Game.game_root + "/" + game.image.to_s %>" alt="<%= game.title %>">
            </div>
            <div class="span7">
                <a href="<%= game_path(game) %>"><h5><%= game.title %></h5></a>
                <div><%= truncate(game.description, :length => 200) %></div>
                <%= form_tag({action: :index}, multipart: true) do %>
                    <%= file_field_tag 'uploaded_game', accept: "application/x-shockwave-flash" %>
                    <input type="hidden" name="game_id" value="<%= game.id %>">
                    <input type="submit" class="btn" value="<%= t('developers.load_new_version') %>">
                <% end %>
            </div>
        </div>
<% end %>