<div class="row" style="text-align: center;">
    <div class="span12">
        <h3 style="color: #666666"><%= @game.title %></h3>
    </div>
    <div class="span12" id="game" style="overflow: visible;">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="<%= @game.width %>" height="<%= @game.height %>">
            <param name="menu" value="false" />
            <param name="quality" value="high" />
            <param name="src" value="<%= @game.url %>" />
            <% if @game.opts[:stage3d] %><param name="wmode" value="direct" /><% end %>
            <embed type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/flashplayer/" menu="false" quality="high"
                   width="<%= @game.width %>" height="<%= @game.height %>"
                   src="<%= @game.url %>" <%= @game.opts[:stage3d] ? 'wmode="direct"'.html_safe : '' %>/>
        </object>
    </div>

    <div>&nbsp;</div>

    <div class="span12">
        <div class="span7">
            <div style="text-align: left">
                <% unless @game.description.blank? %>
                    <div class="description well">
                        <%= @game.description.html_safe %>
                    </div>
                <% end %>
                <% unless @game.driving.blank? %>
                    <div class="driving well">
                        <%= @game.driving.html_safe %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="span2 well">
            <% @game.each_tag do |tag, html_name| %>
                <a href="<%= tags_path(html_name) %>"><span class="label label-info"><%= truncate(tag, :length => 15) %></span></a>
            <% end %>
        </div>

        <div class="span2">
            <div class="stars well" edit="1" id="stars-<%= @game.id %>" score="<%= number_with_precision( @game.stars, :number_with_precision => 1) %>"></div>
        </div>

        <div class="span2" style="text-align: left;">
            <div class="well">
                <p><i class="icon-eye-open"></i>&nbsp;<%= t('game.views', :d => @game.usage) %></p>
                <p><i class="icon-thumbs-up"></i>&nbsp;<%= t('game.ratings', :d => @game.votings) %></p>
            </div>
        </div>
    </div>
</div>