<!DOCTYPE html>
<html>
<head>
  <title>Oladium</title>
  <%= stylesheet_link_tag 'application', media: 'screen, projection, print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'application-ie', media: 'screen, projection' %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    <%= yield :style %>
	</style>
  <script type="text/javascript">
    <%= yield :script %>
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34242765-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<div class="container">
  <div class="span-24">
    <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
    <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
  </div>
  <div class="span-24">
    <%= yield %>
  </div>
  <div class="span-24">
    © 2012
  </div>
</div>
</body>
</html>
