<!DOCTYPE html>
<html>
<head>
  <title>Oladium</title>
  <%= stylesheet_link_tag 'application', media: 'screen, projection, print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'application-ie', media: 'screen, projection' %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<% if content_for?(:style) %>
  <style>
    <%= yield :style %>
	</style>
<% end %>
<% if content_for?(:script) %>
  <script type="text/javascript">
    <%= yield :script %>
  </script>
<% end %>
</head>
<body>
<header>
  <div class="container">
    <div class="span-24">
      <div class="left header-logo">
        FLASH GAMES
      </div>
      <div class="right header-search">
        SEARCH
      </div>
    </div>
    <div class="span-24">
      <div class="header-menu">
        <a href="/">Home</a>
      </div>
      <div class="header-menu">
        <a href="/">Categories</a>
      </div>
      <div class="header-menu">
        <a href="/">About</a>
      </div>
    </div>
  </div>
</header>
<hr class="wide-hr"/>
<div class="container">
  <div class="span-24">
    <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
    <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
  </div>
  <%= render :partial => 'layouts/mainmenu' %>
  <div class="span-24">
    <%= yield %>
  </div>
</div>
<footer>
  <div class="container">
    <div class="span-24">
      <div class="span-7 colborder">
        LEFT
      </div>
      <div class="span-7 colborder">
        CENTER
      </div>
      <div class="span-8 last">
        RIGHT
      </div>
    </div>
    <div class="span-24">
      © 2012
    </div>
  </div>
</footer>
</body>
</html>
