<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <% if defined? @game %>
        <title>Oladium. <%= @game.title %></title>
        <meta name="description" content="<%= @game.description %>" />
        <meta name="keywords" content="<%= @game.tags %>" />
    <% else %>
        <title>Oladium. Free online games</title>
        <meta name="description" content="free online flash games feature genres such as action, puzzle, simulation, shooter, strategy" />
        <meta name="keywords" content="games, free, online, games, flash, action games, sports games, puzzle games, adventure games" />
    <% end %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <% if content_for?(:style) %>
        <style>
            <%= yield :style %>
        </style>
    <% end %>
    <% if content_for?(:script) %>
        <script type="text/javascript">
            <%= yield :script %>
        </script>
    <% end %>
</head>
<body>
<header>
    <%= render :partial => 'layouts/mainmenu' %>
</header>
<div class="container">
    <% unless notice.blank? && alert.blank? %>
        <div class="row" style="margin-left: 0px;">
            <% unless notice.blank? %>
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">?</a>
                    <span><%= notice %></span>
                </div>
            <% end %>

            <% unless alert.blank? %>
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">?</a>
                    <span><%= alert %></span>
                </div>
            <% end %>
        </div>
    <% end %>

    <%= yield %>
</div>
<div class="well pagination-centered muted" style="margin-top: 10px;">
    <div class="row">
        <div class="span6">
        </div>
        <div class="span2">
            <p><a href="<%= developer_session_path  %>">For developers</a></p>

        </div>
        <div class="span2">
            <a href="<%= advertisers_path %>">For advertisers</a>
        </div>
    </div>
    <p>Contacts: games[at]oladium.com</p>
    <p>© 2012 Oladium</p>
</div>
</body>
</html>
